jieba
catalogue
Cython
fasttext
jsonlines
jsonschema
jupyter
matplotlib
networkx
numpy==1.22.0
paddlepaddle-tiny
pandas
protobuf
pyhanlp
pytorch-crf
pytorch-transformers
requests
scikit-learn
scipy
sentencepiece
scikit-learn
torch
TorchCRF
torchvision
tqdm
transformers
hanlp
